.dropdown-menu, a{
	color: #fff;
	background-color: black;
	text-decoration: none;
}
  .profile-menu .dropdown-menu {
	right: 0;
	left: unset;
  }
  .profile-menu .fa-fw {
	margin-right: 10px;
  }


  .navbar-link:hover {
	background-color: #555;
  }
